In [1]:
import pandas as pd

In [7]:
pd.set_option('display.max_columns', None)

In [2]:
path_df_2006 = '../../data/csv/NAO_IDENT_null_1988-2020_2006_2012_102142.csv'
df_2006 = pd.read_csv(path_df_2006, sep=';')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7256\2934363263.py:2: DtypeWarning: Columns (3,6,7,8,9,10,13,14,23,24,25,27,28,29,30,31,32,33,34,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2006 = pd.read_csv(path_df_2006, sep=';')

In [3]:
df_2006.head()

,Código do Paciente,Nome do RCBP,Sexo,Data de Nascimento,Idade,Raca/Cor,Nacionalidade,Naturalidade Estado,Naturalidade,Grau de Instrução,...,Lateralidade,Estadiamento,TNM,Status Vital,Tipo do Obito,Data do Óbito,Data de Último Contato,Data de Diagnostico,Metástase à distância,Unnamed: 37
0,NaN,RCBP GOIÂNIA,FEMININO,11/03/1943,68.0,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28/02/2012,NaN,NaN
1,NaN,RCBP GOIÂNIA,FEMININO,10/04/1966,46.0,SEM INFORMAÇÃO,NaN,NaN,NaN,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,04/03/2013,NaN,06/11/2012,NaN,NaN
2,NaN,RCBP GOIÂNIA,FEMININO,05/05/1924,88.0,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/09/2012,NaN,NaN
3,NaN,RCBP GOIÂNIA,FEMININO,10/03/1947,65.0,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/08/2012,NaN,NaN
4,NaN,RCBP GOIÂNIA,FEMININO,30/01/1948,63.0,BRANCO,NaN,NaN,NaN,SEM INFORMAÇÃO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03/01/2012,NaN,NaN

In [10]:
df_2006.shape

(850405, 38)

In [11]:
df_2006.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850405 entries, 0 to 850404
Data columns (total 38 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Código do Paciente                808446 non-null  float64
 1   Nome do RCBP                      850405 non-null  object
 2   Sexo                              850405 non-null  object
 3   Data de Nascimento                473151 non-null  object
 4   Idade                             800304 non-null  float64
 5   Raca/Cor                          850405 non-null  object
 6   Nacionalidade                     473575 non-null  object
 7   Naturalidade Estado               474732 non-null  object
 8   Naturalidade                      294754 non-null  object
 9   Grau de Instrução                 478194 non-null  object
 10  Estado Civil                      475358 non-null  object
 11  Código Profissão                  788193 non-null  float64
 12  Nome Profissão                    788193 non-null  object
 13  Estado Endereço                   813442 non-null  object
 14  Cidade Endereço                   813776 non-null  object
 15  Descrição da Topografia           850405 non-null  object
 16  Código da Topografia              850405 non-null  object
 17  Descrição da Morfologia           850405 non-null  object
 18  Código da Morfologia              850405 non-null  int64
 19  Descrição da Doenca               850405 non-null  object
 20  Código da Doenca                  850405 non-null  object
 21  Descrição da Doenca Infantil      345766 non-null  object
 22  Código da Doenca Infantil         345766 non-null  object
 23  Descrição da Doenca Adulto Jovem  336008 non-null  object
 24  Código da Doenca Adulto Jovem     336008 non-null  object
 25  Indicador de Caso Raro            488637 non-null  object
 26  Meio de Diagnostico               850405 non-null  object
 27  Extensão                          530596 non-null  object
 28  Lateralidade                      136491 non-null  object
 29  Estadiamento                      133915 non-null  object
 30  TNM                               133982 non-null  object
 31  Status Vital                      121619 non-null  object
 32  Tipo do Obito                     205048 non-null  object
 33  Data do Óbito                     288918 non-null  object
 34  Data de Último Contato            210515 non-null  object
 35  Data de Diagnostico               813776 non-null  object
 36  Metástase à distância             8342 non-null    object
 37  Unnamed: 37                       0 non-null       float64
dtypes: float64(4), int64(1), object(33)
memory usage: 246.5+ MB

In [12]:
for column in df_2006.columns:
    if df_2006[column].isnull().mean()*100 > 50:
        print(f"Porcentagem de valores nulos na coluna {column}: {round(df_2006[column].isnull().mean()*100, 1)}%")

Porcentagem de valores nulos na coluna Naturalidade: 65.3%
Porcentagem de valores nulos na coluna Descrição da Doenca Infantil: 59.3%
Porcentagem de valores nulos na coluna Código da Doenca Infantil: 59.3%
Porcentagem de valores nulos na coluna Descrição da Doenca Adulto Jovem: 60.5%
Porcentagem de valores nulos na coluna Código da Doenca Adulto Jovem: 60.5%
Porcentagem de valores nulos na coluna Lateralidade: 83.9%
Porcentagem de valores nulos na coluna Estadiamento: 84.3%
Porcentagem de valores nulos na coluna TNM: 84.2%
Porcentagem de valores nulos na coluna Status Vital: 85.7%
Porcentagem de valores nulos na coluna Tipo do Obito: 75.9%
Porcentagem de valores nulos na coluna Data do Óbito: 66.0%
Porcentagem de valores nulos na coluna Data de Último Contato: 75.2%
Porcentagem de valores nulos na coluna Metástase à distância: 99.0%
Porcentagem de valores nulos na coluna Unnamed: 37: 100.0%

In [13]:
for column in df_2006.columns:
    if len(df_2006[column].apply(type).unique()) > 1:
        print(f"Coluna {column}: {df_2006[column].apply(type).unique()}")

Coluna Data de Nascimento: [<class 'str'> <class 'float'>]
Coluna Nacionalidade: [<class 'float'> <class 'str'>]
Coluna Naturalidade Estado: [<class 'float'> <class 'str'>]
Coluna Naturalidade: [<class 'float'> <class 'str'>]
Coluna Grau de Instrução: [<class 'str'> <class 'float'>]
Coluna Estado Civil: [<class 'str'> <class 'float'>]
Coluna Nome Profissão: [<class 'str'> <class 'float'>]
Coluna Estado Endereço: [<class 'str'> <class 'float'>]
Coluna Cidade Endereço: [<class 'str'> <class 'float'>]
Coluna Descrição da Doenca Infantil: [<class 'str'> <class 'float'>]
Coluna Código da Doenca Infantil: [<class 'str'> <class 'float'>]
Coluna Descrição da Doenca Adulto Jovem: [<class 'str'> <class 'float'>]
Coluna Código da Doenca Adulto Jovem: [<class 'str'> <class 'float'>]
Coluna Indicador de Caso Raro: [<class 'float'> <class 'bool'>]
Coluna Extensão: [<class 'str'> <class 'float'>]
Coluna Lateralidade: [<class 'float'> <class 'str'>]
Coluna Estadiamento: [<class 'float'> <class 'str'>]
Coluna TNM: [<class 'float'> <class 'str'>]
Coluna Status Vital: [<class 'float'> <class 'str'>]
Coluna Tipo do Obito: [<class 'float'> <class 'str'>]
Coluna Data do Óbito: [<class 'float'> <class 'str'>]
Coluna Data de Último Contato: [<class 'float'> <class 'str'>]
Coluna Data de Diagnostico: [<class 'str'> <class 'float'>]
Coluna Metástase à distância: [<class 'float'> <class 'str'>]